@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'rubik', sans-serif!important;
    font-size: 0.8rem !important;  
    box-sizing: border-box !important;
}

:root{
    --background:rgba(67, 105, 255, 0.598);
    --dark:darkslateblue;
    --light:rgba(0, 0, 255, 0.069);
    box-sizing: border-box;
    overflow-x: hidden;
}

p{
    font-size:13px !important;
}
.bgdark{
    background-color: var(--dark);
}
.bglight{
    background-color: var(--light);
}
.darkColor{
    background-color: var(--dark);
}
.lightColor{
    background-color: var(--light);
}
*{
    box-sizing: border-box;
}
.form-group{
    position: relative;
    margin: 35px 0 !important;
}
.form-group label:not(.form-check-label,.remember,.radio) {
    color: rgba(77, 77, 77, 0.879);
    transition: .4s;
    position: absolute;
    top: -12px;
    left:5px;
    background-color:rgb(255, 255, 255) ;
    font-size: 80%;
    padding: 0 10px;
}
h3{
    margin:0px;
}

.form-group input,.form-group select,.form-group textarea{
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 255, 0.203);
    border-radius: 3px;
    color: rgb(0, 0, 189);
    background-color: rgba(255, 255, 255, 0.01);
    /* box-shadow: 0 3px 10px rgba(0, 0, 189, 0.076), inset 0 3px 10px rgba(0, 0, 189, 0.05); */
}

fieldset {
    /* border: 1px solid rgba(205, 205, 205, 0.251) !important; */
    color: rgb(112, 112, 112);
}

input:focus ,textarea:focus {
    outline: none;
}

.page-content {
    z-index: 0;
    width: 100%;
}

.form-group button {
    min-width: 100px;
    border-radius: 0;
    border: 2px rgb(0, 136, 255) solid;
}

li {
    list-style-type: none;
}

.sidebar a {
    text-decoration: none !important;
    color: rgb(53, 53, 53) !important;
}

aside {
    min-height: 100vh !important;
    min-width: 200px;
}

.sidebar {
    padding: 50px 0 50px 0;
    list-style-type: none;
    z-index: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.085);
}

.sidebar>ul {
    padding: 0!important;
}

.sidebar li {
    padding: 15px 25px;
    list-style-type: none;
    position: relative;
    color: rgba(0, 0, 0, 0.825);
    /* border-radius:0 50px 50px 0 ; */
}
.sidebar i{
    margin-right: 10px;
}
.sidebar>li li {
    padding: 20px 0 !important;
}

li>ul {
    padding: 0;
}

.sidebar li:hover {
    border-left: 3px solid var(--dark);
    color: rgb(12, 12, 12);
    transition: .4s ease;
    background-color: rgba(0, 0, 0, 0.052);
    /* border-radius: 0 50px 50px 0; */
}

.alert {
    position: absolute !important;
    width: 250px !important;
    transform: translateX(-50%);
    top: 150px;
    left: 50%;
    z-index: 2 !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
}

.auth-field{
    min-width:300px ;
    max-width: 350px;
    margin: auto;
    /* background:linear-gradient(45deg,var(--background),purple) ;
     */
     background-color: ghostwhite;
    border-radius:0 10px 0 0 ;
}
.auth-btn-group{
    display: flex;
}
.auth-btn-group .usertoggle{
    border: 0;
    width: 100%;
    height: 50px;
    color: ghostwhite;
    font-size: 12px;
    text-align: center;
    position: relative;
    background-color: darkslateblue; 

}
.usertoggle input{
    position: absolute;
    /* display: none; */
}
.usertoggle input:checked ~ label{
    background-color: ghostwhite !important;
    color: darkslateblue;
    font-size: large;
}
.usertoggle label{
    background-color: darkslateblue;    
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 10px; 
    transition: .4s ease;   
}
.auth-input-group{
    text-align: center;
    padding:10% 5%;
}
.auth-input-group .form-group{
    margin-bottom: 20px;
}
.customBtn{
    background:linear-gradient(45deg, darkslateblue,rgb(184, 184, 255)) !important;
    border-radius: 50px !important;
    color: white !important;
    box-shadow: 0 0 10px rgba(71, 61, 139, 0.278);
    transition: .9s ease;
}
.customBtn:hover{
    background:linear-gradient(45deg, darkslateblue,darkslateblue) !important;
    padding-right:25px ;
}
legend{
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 20px !important;
}
.toggleBtn{
    color: rgb(166, 166, 166);
    border-radius: 5px;
    border:white 1px solid;
    padding: 8px 15px;
    border: 1px solid rgba(166, 166, 166, 0.105);
    background-color: white !important;
    transition: .5s ease;
}
.toggleBtn:hover{
    border: 1px solid rgba(166, 166, 166, 0.413);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.065);
}
.closeBtn{
    background-color: darkslateblue;
    color: white;
    padding: 8px 13px;
    border-radius: 50px;
    border: 0;
}
.wrapper{
    background-color: rgba(255, 255, 255, 0.053);
    padding:10px 2% 2% 2%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.049),0 0 10px rgba(0, 0, 0, 0.038);
    border: 1px solid rgba(212, 212, 212, 0.762) !important;
}
.wrapper>div{
    padding: 10px;
    border-bottom:1px solid rgba(223, 223, 223, 0.205);
}
table{
    margin-bottom: 0 !important;
    border: 0 !important;
    outline: none !important;
}

td{
    border: 0 !important;
    text-justify: center;
    padding: auto 0;
    vertical-align: middle;
    text-align: center;
    height: 60px  !important;
}

/* sidebar  */
/* tablet and mobile */
/* animation
1. close up
2.  */

@keyframes close-up {
    0%{
        height: 100% !important;
    }
    100%{
        height: 0% !important;
        display: none !important;
    }
}

@keyframes open-down {
    0%{
        height: 0% !important;
        display: block !important;
    }
    100%{
        height: 100% !important;
    }
}

.modal{
    position: fixed !important;
}

.modal-hide{
    animation: open-down .4s ease-in;
    position: absolute;
}

.modal-hide{
    position: absolute;    
    animation: close-up .5s ease-in-out;
    display: none;
}

.modal::before{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    background-color: rgba(0, 0, 0, 0.673);
}

.modal-open{
    padding: 0 !important;
}

table{
    border: 0 !important;
    outline: none !important;
}
thead tr{
 /* background-color:rgba(0, 0, 0, 0.033); */
 border-bottom: 1px solid rgba(0, 0, 0, 0.088);
}

tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}

.class-dashboard{
    background: var(--dark);
    padding:5%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clas-student-head{
    box-sizing: border-box !important;
}

.class-details p,.class-details h5{
    margin: 0;
}

.left-panel{
    min-height: 100vh;
    /* box-shadow: -10px 0 10px rgba(0, 0, 0, 0.027); */
}

.left-panel button{
    border-radius: 0 !important;
    border: 0;
    position: relative;
}

.left-panel button:hover{
    background-color:rgba(0, 0, 0, 0.027) !important;
    color: var(--dark) !important;
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.02);
}

.inview{
    border-radius:0 !important;
    border: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: var(--dark)!important;
}

.inview::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 94%;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
}

.left-panel button:hover::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 94%;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
}

.tab{
    border-bottom: 1px solid rgba(0, 0, 0, 0.095);
}

.tab li{
    padding: 15px 15px;
    color: rgba(0, 0, 0, 0.278);
    font-size: 13px;
    min-width:150px;
}

.tab li:hover{
    border-bottom: 2px solid var(--dark);
    color: black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.027);
}

.tab-active{
    border-bottom: 2px solid var(--dark);
    color: var(--dark) !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.027); 
}

@media screen and (max-width:767px) {

}